In [1]:
%load_ext sql

In [2]:
# Connect to the MIMIC database
%sql sqlite://///Users/leonidas/Desktop/AUTH_HealthData/Scripts/SQL_HSDA/mimic3.db

#### Aggregate functions for summarizing your result
We can use functions in SQL to run calculations that give useful information and summarize your data. 

|Function |What it returns|
|--------------|----------|
|**COUNT()**|Counts how many rows are in a particular column|
|**SUM()**|Adds together all the values in a particular column|
|**MIN()**|Returns the lowest value in a particular column|
|**MAX()**|Returns the highest value in a particular column|
|**AVG()**|Calculates the average of a group of selected values|

The best way to learn is by an example. Let's figure out how many patients we have in patients database:

In [3]:
%sql SELECT COUNT(subject_id) AS NUMBER_OF_PATIENTS FROM patients;
# You can also use * inside the COUNT function instead of subject_id, COUNT(*)

 * sqlite://///Users/leonidas/Desktop/AUTH_HealthData/Scripts/SQL_HSDA/mimic3.db
Done.

[(100,)]

Have in mind that:
> When a column is included in a COUNT function, null values are ignored in the count. That is not the case when * is used.

### EXERCISE 
Find the minimum the maximum so as the average time of hospital stay in days form table icustays. (Hint: Make use of the **los** column)

In [4]:
%sql SELECT MAX(los) AS MAX_STAY, MIN(los) AS MIN_STAY, AVG(los) AS Average_Stay \
FROM icustays;

 * sqlite://///Users/leonidas/Desktop/AUTH_HealthData/Scripts/SQL_HSDA/mimic3.db
Done.

[(35.4065, 0.1059, 4.452456617647062)]

### Arithmetical operations

|Operator |Meaning | Operates on|
|--------------|----------|--------------|
| + |Addition |Numeric value|
|- 	|Subtraction|Numeric value|
|* 	|Multiplication	|Numeric value|
|/ 	|Division|Numeric value|
|% 	|Division Remainder| Numeric value|

- An example: 13 % 5 = 3 because the remainder of 13 divided by 5 is 3

In [ ]:
%sql SELECT (row_id - subject_id) AS test_difference FROM admissions LIMIT 10;

## Calculating time, and time differences

As it is easily seen in the database, we have TIMESTAMP datatypes, in our database. 

In order to calculate time, or time differences we can use some of the functions of SQLITE in:

https://www.sqlite.org/lang_datefunc.html

In our case, the best choice is JULIANDAY() function.

It provides us with the number of days since Nov 24, 4714 BC 12:00pm Greenwich time in the Gregorian calendar:

https://www.techonthenet.com/sqlite/functions/julianday.php

Just a reminder. JULIANDAY() can be used only by SQLITE. If we had a different implementation e.g. MySQL we have a different case.

The following example calculates the lifespan of the patients in years rounding to 2 digits.

SQLite function **ROUND()** takes two arguments:
- **ROUND(X,Y)**
- **X**, the number which will be rounded
- **Y**, A number indicating up to how many decimal places N will be rounded.

In [5]:
%sql SELECT ROUND((JULIANDAY(dod)-JULIANDAY(dob))/365.24,2) \
AS AGE_OF_DEATH FROM patients;

 * sqlite://///Users/leonidas/Desktop/AUTH_HealthData/Scripts/SQL_HSDA/mimic3.db
Done.

[(71.44,),
 (36.23,),
 (87.09,),
 (76.98,),
 (48.9,),
 (300.53,),
 (82.67,),
 (79.45,),
 (88.14,),
 (82.39,),
 (79.96,),
 (300.01,),
 (91.13,),
 (88.87,),
 (74.58,),
 (81.84,),
 (81.69,),
 (68.69,),
 (53.99,),
 (83.55,),
 (69.65,),
 (76.88,),
 (68.9,),
 (82.31,),
 (29.32,),
 (41.35,),
 (85.32,),
 (68.89,),
 (82.72,),
 (78.03,),
 (86.31,),
 (30.1,),
 (87.38,),
 (300.06,),
 (19.99,),
 (72.68,),
 (70.16,),
 (75.22,),
 (65.75,),
 (83.04,),
 (78.71,),
 (79.13,),
 (66.54,),
 (84.53,),
 (27.02,),
 (83.4,),
 (44.2,),
 (20.55,),
 (51.68,),
 (65.54,),
 (67.33,),
 (86.87,),
 (76.48,),
 (83.28,),
 (86.56,),
 (78.09,),
 (41.07,),
 (89.0,),
 (88.64,),
 (76.66,),
 (72.6,),
 (86.28,),
 (300.64,),
 (81.77,),
 (49.36,),
 (55.19,),
 (66.35,),
 (300.01,),
 (85.8,),
 (50.66,),
 (80.06,),
 (44.1,),
 (72.77,),
 (88.45,),
 (77.64,),
 (68.65,),
 (66.72,),
 (85.69,),
 (80.79,),
 (88.07,),
 (87.73,),
 (87.33,),
 (80.97,),
 (301.14,),
 (82.35,),
 (81.1,),
 (81.49,),
 (76.96,),
 (64.42,),
 (302.4,),
 (88.74,),
 (55.97,),
 (53.9,),
 (78.88,),
 (72.58,),
 (56.26,),
 (300.01,),
 (45.62,),
 (75.1,),
 (58.48,)]

### EXERCISE 
Find the days, by subject_id of hospital stay of the patients that did not pass away in hospital(hospital_expire_flag=0), by descending time. (Use **admissions** table)

In [6]:
%sql SELECT subject_id,ROUND((JULIANDAY(dischtime)-JULIANDAY(admittime)),2) AS HIME \
FROM admissions WHERE hospital_expire_flag =0 ORDER BY HIME DESC;

 * sqlite://///Users/leonidas/Desktop/AUTH_HealthData/Scripts/SQL_HSDA/mimic3.db
Done.

[(40310, 123.98),
 (43798, 39.7),
 (44212, 36.01),
 (10061, 25.0),
 (10132, 24.75),
 (10127, 22.39),
 (10130, 19.9),
 (10083, 17.5),
 (41914, 16.98),
 (10119, 13.91),
 (41795, 13.75),
 (41976, 13.62),
 (10032, 12.78),
 (10043, 12.75),
 (10088, 12.33),
 (10027, 12.28),
 (10065, 12.28),
 (42135, 12.03),
 (10038, 11.82),
 (10042, 11.27),
 (41976, 10.85),
 (10046, 10.65),
 (10029, 10.15),
 (44083, 10.05),
 (42199, 9.97),
 (10094, 9.95),
 (10124, 9.95),
 (40655, 9.8),
 (40304, 9.68),
 (44228, 9.62),
 (10044, 8.97),
 (40595, 8.93),
 (10006, 8.84),
 (41976, 8.61),
 (42231, 8.38),
 (43881, 8.09),
 (10017, 8.06),
 (40204, 7.93),
 (10074, 7.72),
 (41976, 7.35),
 (44083, 7.26),
 (10026, 7.17),
 (10088, 7.16),
 (41976, 7.14),
 (10114, 6.83),
 (10104, 6.81),
 (41976, 6.77),
 (40124, 6.63),
 (40601, 6.41),
 (40124, 6.4),
 (42412, 6.08),
 (43748, 5.99),
 (43881, 5.95),
 (10088, 5.81),
 (10117, 5.7),
 (10059, 5.58),
 (40612, 5.45),
 (10119, 5.25),
 (40286, 5.25),
 (42346, 5.07),
 (41976, 4.92),
 (42321, 4.83),
 (10106, 4.78),
 (40277, 4.69),
 (10056, 4.56),
 (10040, 4.19),
 (43927, 4.1),
 (10035, 4.09),
 (41976, 4.08),
 (43827, 4.07),
 (42302, 3.91),
 (41976, 3.9),
 (10033, 3.52),
 (41795, 3.31),
 (42292, 2.99),
 (41976, 2.96),
 (41976, 2.94),
 (41976, 2.92),
 (44083, 2.91),
 (40456, 2.88),
 (42275, 2.87),
 (41976, 2.86),
 (41976, 2.75),
 (43779, 2.75),
 (41976, 2.73),
 (10090, 2.19),
 (44222, 1.25),
 (42458, 1.0),
 (43879, 0.98)]

## The GROUP BY Statement

- The AGGREGATE functions become more useful  when used in conjunction with the GROUP BY Statement.
- It is used to summarize multiple subsets of the data in the same query.

The GROUP BY clause comes after the FROM clause of the SELECT statement. In case a statement contains a WHERE clause, the GROUP BY clause must come after the WHERE clause.

` SELECT columnname, AGR_FUNCTION1, AGR_FUNCTION2 FROM tablename WHERE conditions_provided GROUP BY columnname;`

Let's count the number of male and female in **patients** table.

In [10]:
%sql SELECT gender,COUNT(gender) AS TOTAL_NUMBER FROM patients GROUP BY gender;

 * sqlite://///Users/leonidas/Desktop/AUTH_HealthData/Scripts/SQL_HSDA/mimic3.db
Done.

[('F', 100)]

## EXERCISE 
- Calculate the number of doses per drug from prescriptions table
- Order by maximum number of doses
- Limit to the first 10

In [ ]:
%sql SELECT drug, COUNT(drug) AS number_of_doses FROM prescriptions \
GROUP BY drug ORDER BY number_of_doses DESC LIMIT 10

## Grouping by multiple fields
Grouping can be extended to multiple fields using a specified order. For example you can identify the numbers of deaths in terms of type of entrance using GROUP BY and including both fields (**admission_type**,**hospital_expire_flag**):

In [ ]:
%sql SELECT admission_type, hospital_expire_flag, COUNT(subject_id) as number \
FROM admissions \
GROUP BY admission_type,hospital_expire_flag;

## The HAVING clause

HAVING clause is used to query subsets of aggregated groups (in a GROUP BY clause) just as WHERE is used to query subsets of rows.
The expression that follows a HAVING clause has to be applicable to these groups as WHERE is applicable to each row of data in a column.

e.g. Let's filter from the exercise before, the drugs that more than 100 of doses where provided to the patients.

In [ ]:
%sql SELECT drug, COUNT(drug) AS number_of_doses FROM prescriptions \
GROUP BY drug HAVING number_of_doses>100 ORDER BY 2 DESC;

## EXERCISE 
SELECT the patients that have more than one **admissions** in the hospital by descending order.

In [ ]:
%sql SELECT subject_id, COUNT(subject_id) AS number_of_admissions FROM admissions \
GROUP BY subject_id HAVING number_of_admissions > 1 \
ORDER BY number_of_admissions DESC;