In [1]:
%reload_ext sql

In [2]:
# Connect to the MIMIC database
%sql sqlite://///Users/leonidas/Desktop/AUTH_HealthData/Scripts/SQL_HSDA/mimic3.db

# What is join? How are the tables joining?

- So far we have used a single table to extract information, count, add, calculate averages and so on.
- In real life we usually need to query multiple tables which have relationships. But what type of relationship this could it be? 
- Tables in relational databases are linked through primary keys and sometimes other fields that are common to multiple tables, as it is in our database. 

- An execution of a JOIN is used to combine rows from two or more tables, based on a related column between them.



## INNER JOIN

> INNER JOIN selects records that have matching values in both tables

The syntax is as follows:

`SELECT table1.columnX, table2.columnY FROM table1 INNER JOIN table2 ON table1.column_name=table2.column_name` 

> **In case columnX and columnY appear only to one table there is no need to specify the table name within the definition of the column.**

<img src="joins.png">

Let's give an example to make things clearer. Take a look of the **icustays** table:
- There are (among others) the fields **subject_id** and **intime** where are representing the patient id and the time the person entered the hospital.
- Now take a look at **patients** table. It also include **subject_id** and also a field **dob** (date of birth). 
- Let's try to inner join these two tables to find out the age of the patients when they entered the hospital.

We are going to do it by joining the two tables on the subject_id fields of those:

In [11]:
%sql SELECT AVG(value) FROM labevents \
INNER JOIN d_labitems  \
ON labevents.itemid = d_labitems.itemid WHERE labevents.subject_id=42281 AND label='Hematocrit';

 * sqlite://///Users/leonidas/Desktop/AUTH_HealthData/Scripts/SQL_HSDA/mimic3.db
Done.

[(27.01475409836065,)]

In [23]:
%sql SELECT *,julianday(dod)-julianday(dob) AS age FROM patients WHERE gender = "F" and age < 14609.688

 * sqlite://///Users/leonidas/Desktop/AUTH_HealthData/Scripts/SQL_HSDA/mimic3.db
Done.

[(9472, 10011, 'F', '2090-06-05 00:00:00', '2126-08-28 00:00:00', '2126-08-28 00:00:00', None, 1, 13232.0),
 (9553, 10098, 'F', '2150-12-07 00:00:00', '2170-12-03 00:00:00', '2170-12-03 00:00:00', None, 1, 7301.0),
 (9582, 10127, 'F', '2181-04-19 00:00:00', '2201-11-08 00:00:00', None, '2201-11-08 00:00:00', 1, 7507.0)]

In [27]:
%sql UPDATE d_labitems SET fluid = LOWER(fluid)

%sql UPDATE d_labitems SET label = LOWER(label)

 * sqlite://///Users/leonidas/Desktop/AUTH_HealthData/Scripts/SQL_HSDA/mimic3.db
753 rows affected.
 * sqlite://///Users/leonidas/Desktop/AUTH_HealthData/Scripts/SQL_HSDA/mimic3.db
753 rows affected.

[]

In [38]:
%sql SELECT * FROM d_labitems WHERE fluid LIKE '%blood%' AND label LIKE '%cholesterol%'

 * sqlite://///Users/leonidas/Desktop/AUTH_HealthData/Scripts/SQL_HSDA/mimic3.db
Done.

[(104, 50903, 'cholesterol ratio (total/hdl)', 'blood', 'Chemistry', '9322-9'),
 (105, 50904, 'cholesterol, hdl', 'blood', 'Chemistry', '2085-9'),
 (106, 50905, 'cholesterol, ldl, calculated', 'blood', 'Chemistry', '2090-9'),
 (107, 50906, 'cholesterol, ldl, measured', 'blood', 'Chemistry', '18262-6'),
 (108, 50907, 'cholesterol, total', 'blood', 'Chemistry', '2093-3')]

## LEFT JOIN

In few words:

- A LEFT JOIN performs a join starting with the left table.
- Then, any matching records from the right table will be included.
- Rows without a match return columns with NULL values.

- We use a LEFT JOIN when we want every row from the first table, regardless of whether there is a matching row from the second table.

- This is similar to saying, **'Return all the data from the first table no matter what'**

Let's see an example to make things clearer:

I am going to use **patients** and **callout** tables.

**Callout** provides information when a patient was READY for discharge from the ICU, and when the patient was actually discharged from the ICU.

I am using callout as it includes a subset of the patients of **patients** table.

In [5]:
%sql SELECT patients.subject_id,curr_careunit \
FROM patients LEFT JOIN  callout \
ON patients.subject_id = callout.subject_id

 * sqlite://///Users/leonidas/Desktop/AUTH_HealthData/Scripts/SQL_HSDA/mimic3.db
Done.

[(10006, None),
 (10011, None),
 (10013, None),
 (10017, 'CCU'),
 (10019, None),
 (10026, 'SICU'),
 (10027, 'CSRU'),
 (10029, 'SICU'),
 (10032, None),
 (10033, 'SICU'),
 (10035, None),
 (10036, None),
 (10038, 'SICU'),
 (10040, None),
 (10042, None),
 (10043, None),
 (10044, None),
 (10045, None),
 (10046, None),
 (10056, None),
 (10059, 'MICU'),
 (10061, None),
 (10064, None),
 (10065, 'CSRU'),
 (10067, None),
 (10069, None),
 (10074, None),
 (10076, None),
 (10083, 'CCU'),
 (10083, 'MICU'),
 (10088, None),
 (10089, None),
 (10090, 'MICU'),
 (10093, None),
 (10094, 'MICU'),
 (10098, None),
 (10101, 'MICU'),
 (10102, None),
 (10104, None),
 (10106, None),
 (10111, None),
 (10112, None),
 (10114, None),
 (10117, None),
 (10119, 'SICU'),
 (10120, None),
 (10124, 'CCU'),
 (10124, 'MICU'),
 (10124, 'MICU'),
 (10126, None),
 (10127, None),
 (10130, None),
 (10132, None),
 (40124, 'CCU'),
 (40124, 'MICU'),
 (40177, None),
 (40204, 'MICU'),
 (40277, 'MICU'),
 (40286, 'MICU'),
 (40304, 'MICU'),
 (40304, 'MICU'),
 (40310, None),
 (40456, 'MICU'),
 (40503, None),
 (40595, None),
 (40601, 'CCU'),
 (40612, 'TSICU'),
 (40655, 'MICU'),
 (40687, None),
 (41795, 'MICU'),
 (41795, 'MICU'),
 (41795, 'MICU'),
 (41795, 'MICU'),
 (41914, 'MICU'),
 (41976, 'MICU'),
 (41976, 'MICU'),
 (41976, 'MICU'),
 (41976, 'MICU'),
 (41976, 'MICU'),
 (41976, 'MICU'),
 (41976, 'MICU'),
 (41976, 'MICU'),
 (41976, 'MICU'),
 (41976, 'SICU'),
 (41976, 'SICU'),
 (41976, 'SICU'),
 (41983, None),
 (42033, 'CCU'),
 (42066, 'TSICU'),
 (42075, None),
 (42135, 'MICU'),
 (42199, 'SICU'),
 (42199, 'SICU'),
 (42231, 'MICU'),
 (42275, 'MICU'),
 (42281, 'MICU'),
 (42281, 'MICU'),
 (42281, 'MICU'),
 (42292, 'MICU'),
 (42302, 'MICU'),
 (42321, None),
 (42346, 'MICU'),
 (42367, 'SICU'),
 (42412, None),
 (42430, 'SICU'),
 (42458, None),
 (43735, 'MICU'),
 (43746, 'SICU'),
 (43746, 'SICU'),
 (43748, 'CCU'),
 (43779, 'SICU'),
 (43798, 'SICU'),
 (43827, 'CCU'),
 (43870, 'SICU'),
 (43879, 'TSICU'),
 (43881, 'MICU'),
 (43881, 'TSICU'),
 (43909, None),
 (43927, 'CSRU'),
 (44083, 'CCU'),
 (44083, 'CCU'),
 (44083, 'SICU'),
 (44154, None),
 (44212, 'MICU'),
 (44222, None),
 (44228, 'SICU')]

## RIGHT JOIN

It is exactly the other way from the LEFT JOIN. It is not supported from SQLite.

# SUBQUERIES

- They are also called inner queries or nested ones. They are queries embedded within the context of another query.
- The output is included as part of the queries that surround it. 
- They can be used in SELECT WHERE and FROM clauses.

We are using it because:

- It can separate each logical part of a statement, so as to easily find any mistake in long and complicated queries.
- It is sometimes faster that JOINS.
- It is the most logical way to retrieve information.

## SUBQUERIES RULES

- ORDER BY phrases can not be used in subqueries.

- Subqueries in SELECT and WHERE clauses that return more that one row must be used in combination with operators that are designed explicitely to handle multiple values as IN operator. Otherwise subqueries in SELECT or WHERE can output no more than one row.

### Learn by example

Let's try to find the overall average of drugs used per person using the **prescriptions** table. 

- First let's try to find the number of drugs each person took.

In [ ]:
%sql SELECT subject_id, COUNT(drug) AS DrugCounter \
FROM prescriptions GROUP BY subject_id

- To find the average let's enclose it to a outer query asking the AVG from DrugCounter:

In [ ]:
%sql SELECT AVG(DrugCounter) AS AVGCOUNT FROM \
( \
SELECT subject_id, COUNT(drug) AS DrugCounter \
FROM prescriptions GROUP BY subject_id \
);

## Question
Find the subject_id of patients that diagnosed with Atherosclerosis **d_icd_diagnoses** and **diagnoses_icd**

In [ ]:
%sql SELECT DISTINCT subject_id FROM diagnoses_icd WHERE icd9_code IN \
(SELECT icd9_code AS DIABETES_NUM FROM d_icd_diagnoses WHERE long_title LIKE '%Atherosclerosis%')